
<!-- Keanu Reeves never looked so good :-)-->
<!-- Inspired by this magazine layout:-->
<!-- https://s-media-cache-ak0.pinimg.com/564x/2e/f7/8d/2ef78d1f44a6ade085bb38810104435a.jpg-->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
    <body>
        <div class="page-wrapper">
          <aside>
            <h1>UCSD Logo Placeholder</h1>
            <p class="flourish">~~~~~~</p>
             <form>
              Insert Shit:<br>
              <input type="text" name="imageurl"><br>
            </form>
          </aside>
          <article>
            <div class="author">
              <p>Text &ndash;</p>
              <p><span>Lorem Ipsum</span></p>
            </div>
            <div class="photographer">
              <p>Photo &ndash;</p>
              <p><span>Lorem Ipsum</span></p>
            </div>
            <div class="image"><img src="https://archive-media-1.nyafuu.org/bant/image/1493/91/1493914102724.jpg"/></div>
            <div class="text">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
            </div>
          </article>
        </div>
        <footersum>dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</footersum>
        <footersum>dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</footersum>
        <footer></footer>
    </body>
</html>

