
<!-- Keanu Reeves never looked so good :-)-->
<!-- Inspired by this magazine layout:-->
<!-- https://s-media-cache-ak0.pinimg.com/564x/2e/f7/8d/2ef78d1f44a6ade085bb38810104435a.jpg-->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
    <body>
        <div class="page-wrapper">
          <aside>
            <div class="image2"><img src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_thumbnails/000/296/403/datas/original.png"/></div>
                <div class="demo">
                <form class="form form-animate-fields" action="#">
                  <div class="form-field">
                    <input class="form-input" type="Url" name="inputname" id="inputname" placeholder="Input Your Image Url">
                    <label for="inputname" class="form-label">
                      <span class="form-label-content"></span>
                    </label>
                </form>
		<script type=text/javascript>
            $(function() {
              $('a#process_input').bind('click', function() {
                $.getJSON('/home_backend', {
                  story: $('textarea[name="imageLink"]').val(),
                }, function(data) {
                  $('#results').text(data.result);
                });
                return false;
              });
            });
        </script>	
	      </div>
          </aside>
          <article>
            <div class="author">
              <p>Text</p>
              <p><span>Lorem Ipsum</span></p>
            </div>
            <div class="image"><img src="https://archive-media-1.nyafuu.org/bant/image/1493/91/1493914102724.jpg"/></div>
            <div class="text">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
            </div>
          </article>
        </div>
        <footersum>dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</footersum>
        <footersum>dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</footersum>
        <footer></footer>
    </body>
</html>

