
<!-- Keanu Reeves never looked so good :-)-->
<!-- Inspired by this magazine layout:-->
<!-- https://s-media-cache-ak0.pinimg.com/564x/2e/f7/8d/2ef78d1f44a6ade085bb38810104435a.jpg-->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
    <body>
        <div class="page-wrapper">
          <aside>
            <h1>Keanu Reeves</h1>
            <p class="flourish">~</p>
            <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus molestias dolores cupiditate consectetur esse earum magnam, voluptatem quas dolorem libero facilis sit, obcaecati harum corrupti doloribus voluptas ducimus quasi. Pariatur quam, adipisci fugit! Temporibus ratione quia dignissimos quidem eos atque, accusantium consequuntur, quisquam quos maiores ad unde doloremque accusamus.</p>
          </aside>
          <article>
            <div class="author">
              <p>Text &ndash;</p>
              <p><span>Lorem Ipsum</span></p>
            </div>
            <div class="photographer">
              <p>Photo &ndash;</p>
              <p><span>Lorem Ipsum</span></p>
            </div>
            <div class="image"><img src="http://wallpaperlayer.com/img/2015/7/actor-wallpaper-4072-4293-hd-wallpapers.jpg"/></div>
            <div class="text">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
            </div>
          </article>
        </div>
        <footersum>dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</footersum>
        <footersum>dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</footersum>
        <footer></footer>
    </body>
</html>

